{% extends "base.html" %}
{% block title %}
Создание вахтенного
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/watchman-list/">Список вахтенных</a>
		</li>
	</div>
    <div>
        <h1>Создание вахтенного</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Имя">
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}