<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
        @import {{style}};
    </style>
	<meta charset="utf-8">
	<title>О нас</title>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="content">
	<div class="header">
		<a href="/">Главная</a>
		<a href="contacts">Контакты</a>
		<a href="#">О нас</a>
	</div>

<div class="contentWrap">
    <div class="content">
        <div class="center">

			<h1>О нас</h1>

			<div class="box">

				<p>Благодаря этому сайту я научусь работать с архитектурой и шаблонами проектирования на Python.</p>
				<br>
				<a href="index">Главная</a>
			</div>

        </div>
    </div>
</div>



</div>
<div class="footer">
	Copyright &copy; <?php echo "2022";?> <i>Xartiou</i>
</div>


</body>
</html>