<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
        @import {{style}};
    </style>
	<meta charset="utf-8">
	<title>Главная</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="content">
	<div class="header">
		<a href="#">Главная</a>
		<a href="about">О нас</a>
		<a href="contacts">Контакты</a>
	</div>

	<h1>Создаю сайт, а тему придумаю позже.</h1>

	<div class="center">
	<img src="images/p_lent.jpg">
		<div class="box_text">
			<p>Добрый день! Вы находитесь на моём первом сайте  <b><i>XARTIOU.RU</i></b>.</p>
			<p>Архитектура и шаблоны проектирования на Python. Урок 1.</p>
		</div>
	</div>
</div>
<div class="footer">
	Copyright &copy; <?php echo "2022";?> <i>Xartiou</i>
</div>


</body>
</html>