# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Курсы GeekBrains. 2020\Архитектура и шаблоны проектирования на Python\Урок_9\examples\smartshop_services\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
