{% extends "base.html" %}
{% block title %}
Создание вахты
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/watch-list/?id={{id}}">назад</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Создание вахты для категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку вахт</button>
        </form>
    </div>
{% endblock %}

