<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
        @import {{style}};
    </style>
	<meta charset="utf-8">
	<title>Контакты</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="content">
	<div class="header">
		<a href="/">Главная</a>
		<a href="#">Контакты</a>
		<a href="about">О нас</a>
	</div>
<div class="contentWrap">
    <div class="content">
        <div class="center">

			<h1>Контакты</h1>

			<div class="box">

				<p id="info">Наш офис находится по адресу: <br>г. Москва, Фрунзенская набережная, 22/2.
				<br>тел. +7-(223)-232-22-22</p>


			</div>

        </div>
    </div>
</div>



</div>
<div class="footer">
	Copyright &copy; <?php echo "2022";?> <i>Xartiou</i>
</div>


</body>
</html>