@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-width: 1300px;
    border-bottom: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

.header .selected {
    color: #000;
}

.center {
    width: 1300px;
    margin: 0 auto;
}

.header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding-right: 40px;
}

.header span {
    padding: 0 38px;
}

.content {
    min-width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 140px);
}

.content h1 {
    width: 100%;
    float: left;
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 63px;
    margin-bottom: 75px;
}

.content h3 {
    color: #242424;
    font-size: 35px;
    font-weight: 300;
    text-align: left;
    margin-left: 41px;
    margin-bottom: 52px;
}

.content h5 {
    color:  #242424;
    font-size: 24px;
    text-align: left;
}

.content img {
    margin-left: 17px;
    width: 389px;
    border-radius: 50%;
}

.content .box_text {
    width: 671px;
    background-color: #ffffff;
    float: right;
    padding: 49px 48px 51px 76px;
    margin-bottom: 100px;
}

.content .box_text p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;
}

.content .box_text a  {
    color: #40678a;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding-right:30px;
}


.content .media {
    margin-right: 0;
}

.content .box {
    background-color: #ffffff;
    width: 1238px;
    /*min-height: 500px;*/
    margin: 50px auto 0 auto;
    padding-top: 37px;
    padding-left: 38px;
    padding-bottom: 100px;
}

.content .box p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-top: 37px;
    margin-bottom: 30px;
}

.content .box input {
    border: 1px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 457px;
    height: 34px;
    padding-left:10px;
    font-size:20px;
    font-weight: 100;
    margin-bottom: 12px;
}

.content .box a {
    display: block;
    float: left;
    background-color:  #8cbbd3;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    padding:11px 51px;
}

.content .box a:hover {
    background-color: #5ba1d3;
}

.footer { /* # == id */
    background-color: #434445;
    width: 100%;
    float: left;
    height: 140px;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
}

.footer a {
    color: inherit;
}

/*h                  */

fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;}
legend {
    font-style: italic;
    color: #666666;}
input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;}
input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;}
input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: #00CC33;
    color: #ffffff;
    cursor: pointer;}
.title {
    float: left;
    width: 160px;
    clear: left;}
.submit {
    width: 310px;
    text-align: right;}

#text {
    height: 100px;
}